/* *{
    
}
body{
    background-color: black;
} */
/* input{
    padding-bottom: 100px;
    padding-right: 100px;
    text-align:left;
    justify-content: end;
    font-size: large;
} */

/* form card design */
 .form-col{
    margin-top: auto;
    margin-top: 30px;
    background-color: #44318d; 
     border-radius: 10px;
    box-shadow: 5px 10px 15px black;
 }   

.table-col{
    margin-top: auto;
    margin-top: 30px;
    background-color: #44318d;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    margin-left: 10px;
   
}
.main{
    font-family:   Montserrat;
    width: auto;
    width: 100%;
    height: auto;
    height: 100%;
}
span:hover{
    background-color: brown;
}
lable{
margin: 10px;

}
form{
    margin-top: 40px;
    color: aliceblue;
}

table{
margin-top: 100px;
padding-top: 0px;
}
.container{
    
    padding-bottom: 30%;
}
 form input{
    margin-top: 20px;
    border-radius: 5px;
    text-align:start;
}
/* for address input box */
.add{
    padding-right: 50px;
    padding-bottom: 50px;
    margin-left: 17px;
    
}
/* foe gender heading */
.cont{
    padding-top: 5px;
    padding-left: 20px;
    text-decoration: underline;
}
/* for food heading */
.cont2{
    padding-top: 5px;
    padding-left: 20px;
}
/* pin input */
.pin{
    margin-left: 17px;
}
/* for ul */
tbody td{
    text-align:center;
}
/* button desing */
form button{
    border-radius:20px;
    margin:30px;
    margin-left: 90px;
    padding: 8px 70px;
    
}